@import "compass/css3";

body {
  //  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Open Sans", Arial, sans-serif;
}

#main-content {
  padding-top: 50px;
}

.panel-body .btn:not(.btn-block) {
  word-wrap: normal;
  white-space: normal;
}

.btn + .btn {
  margin-left: 10px;
}

[data-ng-click], [ng-click], [data-ui-sref], [ui-sref] {
  cursor: pointer;
}

.row.row-table {
  background-color: #fff;
  margin: 0;
}

.row.table-header {
  border-top: 0;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  padding: 8px;
  line-height: 1.42857143;
  font-weight: bold;
  margin: 0;
  background-color: #fff;
}

.table-row {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  margin: 0;
  &:nth-child(odd) {
    background-color: #f9f9f9;
  }
  &:nth-child(even) {
    background-color: #fff;
  }
  &:hover {
    background-color: #f5f5f5;
    &>.actions{
      visibility: visible;
    }
  }
  &>.actions{
    visibility: hidden;
  }
}

.blank-line{
    border-bottom: 1px solid #000;
}

@import "_forms";