
<div class="page-header">
    <h1>Dashboard</h1>
</div>
<p>Use the quick actions below to quicky complete common tasks.  Use the navigation links above to find and edit information.</p>
<div class="panel-body">
    <div class="well">
        <p class="lead">Quick Actions</p>
        <div class="row">
            <div class="col-md-3"><a data-ui-sref="app.employee.expiredCerts" class="btn btn-default btn-lg" style="display:block;"><i class="glyphicon glyphicon-warning-sign"></i><br />Find employee certifications</a></div>
            <div class="col-md-3"><a data-ui-sref="app.employee.expiringCerts" class="btn btn-default btn-lg" style="display:block;"><i class="glyphicon glyphicon-time"></i><br />Find employees with certs about to expire</a></div>
            <div class="col-md-3"><a data-ui-sref="app.calendar" class="btn btn-default btn-lg" style="display:block;"><i class="glyphicon glyphicon-calendar"></i><br />Class Calendar<br /><br /></a></div>
            <div class="col-md-3"><a data-ui-sref="app.dashboard.addCert" class="btn btn-default btn-lg" style="display:block;"><i class="glyphicon glyphicon-certificate"></i><br />Add certifications to employee(s)</a></div>
        </div>
        <br />
        <div class="row" data-ng-if="hasAccess('Administrator')">
            <div class="col-md-3"><a data-ui-sref="app.admin.dashboard" class="btn btn-default btn-lg" style="display:block;"><i class="glyphicon glyphicon-cog"></i><br />Administer users<br /><br /></a></div>
            <div class="col-md-3"><a data-ui-sref="app.employee.expiringMedicals" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-time"></i><br />Find employees medical tests about to expire</a></div>
          

        </div>
    </div>
</div>