/* line 3, scss/main.scss */
body
{
    padding-bottom: 20px;
    font-family: "Open Sans", Arial, sans-serif;
}

/* line 9, scss/main.scss */
#main-content
{
    padding-top: 50px;
}

/* line 13, scss/main.scss */
.panel-body .btn:not(.btn-block)
{
    word-wrap: normal;
    white-space: normal;
}

/* line 18, scss/main.scss */
.btn + .btn
{
    margin-left: 10px;
}

/* line 22, scss/main.scss */
[data-ng-click], [ng-click], [data-ui-sref], [ui-sref]
{
    cursor: pointer;
}

/* line 26, scss/main.scss */
.row.row-table
{
    background-color: #fff;
    margin: 0;
}

/* line 31, scss/main.scss */
.row.table-header
{
    border-top: 0;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    font-weight: bold;
    margin: 0;
    background-color: #fff;
}

/* line 42, scss/main.scss */
.table-row
{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    margin: 0;
}
    /* line 48, scss/main.scss */
    .table-row:nth-child(odd)
    {
        background-color: #f9f9f9;
    }
    /* line 51, scss/main.scss */
    .table-row:nth-child(even)
    {
        background-color: #fff;
    }
    /* line 54, scss/main.scss */
    .table-row:hover
    {
        background-color: #f5f5f5;
    }
        /* line 56, scss/main.scss */
        .table-row:hover > .actions
        {
            visibility: visible;
        }
    /* line 60, scss/main.scss */
    .table-row > .actions
    {
        visibility: hidden;
    }
/* line 65, scss/main.scss */
.blank-line
{
    border-bottom: 1px solid #000;
}

.cert
{
    font-size: 1.6em;
}

    .cert h1
    {
        font-size: 1.8em;
    }

    .cert small
    {
        font-size: .8em;
    }

.cert-header
{
    font-family: 'Diplomata SC', cursive;
    font-size: 1.8em;
}

.pocket-card
{
    width: 3.5in;
    height: 2in;
    float: left;
    padding: 0.3in;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.pocket-header
{
    color: #3333ff;
    font-size: 1.6em;
}

.no-pad
{
    padding: 0 !important;
}

.no-margin
{
    margin: 0 !important;
}

/* line 3, scss/_forms.scss */
input[type=text],
input[type=tel],
input[type=number],
input[type=url],
input[type=search],
input[type=color],
input[type=datetime],
input[type='datetime-local'],
input[type=email],
input[type=month],
input[type=range],
input[type=week],
input[type=time],
input[type=password],
input[type=date]
{
    outline: none;
}
    /* line 19, scss/_forms.scss */
    input[type=text]:focus, input[type=text]:active,
    input[type=tel]:focus,
    input[type=tel]:active,
    input[type=number]:focus,
    input[type=number]:active,
    input[type=url]:focus,
    input[type=url]:active,
    input[type=search]:focus,
    input[type=search]:active,
    input[type=color]:focus,
    input[type=color]:active,
    input[type=datetime]:focus,
    input[type=datetime]:active,
    input[type='datetime-local']:focus,
    input[type='datetime-local']:active,
    input[type=email]:focus,
    input[type=email]:active,
    input[type=month]:focus,
    input[type=month]:active,
    input[type=range]:focus,
    input[type=range]:active,
    input[type=week]:focus,
    input[type=week]:active,
    input[type=time]:focus,
    input[type=time]:active,
    input[type=password]:focus,
    input[type=password]:active,
    input[type=date]:focus,
    input[type=date]:active
    {
        outline: none;
    }
    /* line 22, scss/_forms.scss */
    input[type=text].pending-ajax-validation,
    input[type=tel].pending-ajax-validation,
    input[type=number].pending-ajax-validation,
    input[type=url].pending-ajax-validation,
    input[type=search].pending-ajax-validation,
    input[type=color].pending-ajax-validation,
    input[type=datetime].pending-ajax-validation,
    input[type='datetime-local'].pending-ajax-validation,
    input[type=email].pending-ajax-validation,
    input[type=month].pending-ajax-validation,
    input[type=range].pending-ajax-validation,
    input[type=week].pending-ajax-validation,
    input[type=time].pending-ajax-validation,
    input[type=password].pending-ajax-validation,
    input[type=date].pending-ajax-validation
    {
        background-image: url("../imgs/icons/ajax-loader.gif") !important;
        background-position: right center !important;
        background-repeat: no-repeat;
    }

/* line 31, scss/_forms.scss */
.select2-container
{
    width: 100%;
}

/* line 36, scss/_forms.scss */
.dd-selectmenu.ng-invalid.submit-attempt, .dd-selectmenu.ng-invalid.ng-dirty:focus, input.ng-invalid.submit-attempt, input.ng-invalid.ng-dirty:focus
{
    background-color: #F8E7E7;
    border-color: #E0A7A6;
}
    /* line 39, scss/_forms.scss */
    .dd-selectmenu.ng-invalid.submit-attempt .dd-selectmenu-icon, .dd-selectmenu.ng-invalid.ng-dirty:focus .dd-selectmenu-icon, input.ng-invalid.submit-attempt .dd-selectmenu-icon, input.ng-invalid.ng-dirty:focus .dd-selectmenu-icon
    {
        background-color: #E0A7A6;
    }

/* line 45, scss/_forms.scss */
.validation-bubble
{
    background-color: #EE8988;
    position: absolute;
    max-width: 250px;
    padding: 10px;
    margin-bottom: 14px;
    -moz-box-shadow: -6px 6px rgba(100, 100, 100, 0.2);
    -webkit-box-shadow: -6px 6px rgba(100, 100, 100, 0.2);
    box-shadow: -6px 6px rgba(100, 100, 100, 0.2);
}
    /* line 52, scss/_forms.scss */
    .validation-bubble:after
    {
        content: "";
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 8px solid #EE8988;
        height: 0;
        bottom: -8px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
    }
    /* line 65, scss/_forms.scss */
    .validation-bubble:before
    {
        content: "";
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 8px solid #646464;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
        opacity: 0.2;
        height: 0;
        bottom: -14px;
        position: absolute;
        left: -6px;
        right: 0;
        margin: 0 auto;
        width: 0;
    }
    /* line 79, scss/_forms.scss */
    .validation-bubble .message
    {
        color: #fff;
    }

.well
{
    padding-top: 9px;
}

    .well .row > div
    {
        margin-top: 10px;
    }

.form-group .has-error
{
    border: 2px solid red !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .form-control
{
    border: 2px solid red !important;
}
hr
{
    color: #020;
    margin:0 0 0 0;
}
.lead
{
    font-weight:700;
}