
<div class="page-header">
    <h1>Administrative Dashboard</h1>
</div>
<p>Use the quick actions below to quicky complete common tasks.  Use the navigation links above to find and edit information.</p>
<div class="panel-body">
    <div class="well">
        <p class="lead">Quick Actions</p>
        <div class="row">
            <div class="col-md-3"><a data-ui-sref="app.admin.dashboard.new" class="btn btn-default btn-lg" style="display:block;"><i class="glyphicon glyphicon-user"></i><br />Create new user<br /><br /></a></div>
            <div class="col-md-3"><a data-ui-sref="app.admin.user.index" class="btn btn-default btn-lg" style="display:block"><i class="glyphicon glyphicon-user"></i><br />Users<br /><br /></a></div>
            <div class="col-md-3"><a data-ui-sref="app.admin.region.index" class="btn btn-default btn-lg" style="display:block"><i class="glyphicon glyphicon-map-marker"></i><br />Regions<br /><br /></a></div>
        </div>
    </div>
</div>